*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body{
    background-color:rgb(192, 202, 201);
    font-family: 'Montserrat', sans-serif;
    
}

.container{
    max-width: 1100px;
    max-height: 1000px;
    background-color:#292725;
    color: white;
    margin: 0 auto;
    padding: 20px;
    overflow:auto;
}

.image_pic{
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 50%;
   
    
}
.personal_info a{
    background-color: aqua ;
    font-weight: bold;
   text-decoration: underline;
}
.personal_info a:hover{
    color:white;
    background-color:aqua ;
    text-decoration: underline ;
}
header{
  padding: 10px;  
 

}
.header_div{
  display: flex; 
  justify-content:space-between;
  align-items: center;

}

header P{
    font-weight: bold;
}

section{
    margin-top: 10px;
    padding: 10px;
    margin: 10px;
}
section p a{
    background-color:aqua
  
   
}
section p a:hover{
    background-color:aqua;
    color:black;
   
}

.footer{
  text-align: center;
  margin-top: 15px;
}

ul li{
    list-style-position: inside;
    list-style-type: square;
}
